@font-face {
	font-family: roboto;
	src: url(fonts/Roboto-Regular.ttf);
}

@font-face {
	font-family: roboto;
	src: url(fonts/Roboto-Bold.ttf);
	font-weight: bold;
}

@font-face {
	font-family: roboto;
	src: url(fonts/Roboto-Italic.ttf);
	font-style: italic;
}

@font-face {
	font-family: roboto;
	src: url(fonts/Roboto-BoldItalic.ttf);
	font-style: italic;
	font-weight: bold;
}

body {
	padding-top: 8px;
	font-family: roboto;
	width: 800px;
	margin: auto;
}

.entry {
	display: flex;
	padding: 8px;
	height: 200px;
	background-color: beige;
	margin-bottom: 8px;
}

.entry-details {
	margin-left: 8px;
}

.entries {
	margin-top: 8px;
}

.cover {
	object-fit: contain;
	height: 100%;
}

button.selected {
	filter: brightness(0.5);
}

.tab-page.hidden {
	display: none;
}