@font-face {
	font-family: roboto;
	src: url(fonts/Roboto-Regular.ttf);
}

@font-face {
	font-family: roboto;
	src: url(fonts/Roboto-Bold.ttf);
	font-weight: bold;
}

@font-face {
	font-family: roboto;
	src: url(fonts/Roboto-Italic.ttf);
	font-style: italic;
}

@font-face {
	font-family: roboto;
	src: url(fonts/Roboto-BoldItalic.ttf);
	font-style: italic;
	font-weight: bold;
}

* {
	color: rgb(220, 220, 220)
}

body {
	background-color: rgb(40, 40, 40);
	padding-top: 8px;
	font-family: roboto;
	width: 800px;
	margin: auto;
}

fieldset {
	display: inline;
}

.entry {
	display: flex;
	padding: 8px;
	background-color: rgb(30, 30, 30);
	margin-bottom: 8px;
}

.entry-details {
	margin-left: 8px;
}

.entry-detail {
	margin: 0px;
}

.entry-title {
	margin-top: 0px;
	display: inline;
}

.creator-name {
	margin-top: 0px;
	display: inline;
}

.entries {
	margin-top: 8px;
}

.cover {
	object-fit: contain;
	height: 240px;
}

.entry-title-div {
	margin-bottom: 8px;
}

.details {
	font-size: 20px;
	background-color: rgb(70, 70, 70);
	border-color: rgb(50, 50, 50);
	border-style: solid;
	padding: 8px;
	float: right;
	text-decoration: none;
}

#filter {
	background-color: rgb(30, 30, 30);
	border-color: rgb(70, 70, 70);
	border-style: solid;
}